Django==5.1.7
djangorestframework
drf-spectacular
djangorestframework-simplejwt
gunicorn
dj-database-url
whitenoise
django-cors-headers
mysqlclient
PyMySQL
# Image handling
Pillow
# rebuild: force Docker layer cache invalidation


